<%- include("partials/header") %>

<style>
    th,td{
        padding: 10px;
    }
</style>



<body data-sidebar="dark">


        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="">
            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="page-title-box">
                                <h4>Driver Dashboard</h4>
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">My Tasks</a></li>
                                </ol>
                            </div>
                        </div>
                        <!-- <div class="col-sm-6">
                            <div class="state-information d-none d-sm-block">
                                <div class="state-graph">
                                    <div id="header-chart-1" data-colors='["--bs-primary"]'></div>
                                    <div class="info">Balance $ 2,317</div>
                                </div>
                                <div class="state-graph">
                                    <div id="header-chart-2" data-colors='["--bs-info"]'></div>
                                    <div class="info">Item Sold 1230</div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                </div>
            </div>

   
<center>
    <div class="col-lg-10">
        <table  class="table-responsive">
            <thead class=" thead-dark">
              <tr>
                <th scope="col">Sl no.</th>
                <th scope="col">Type</th>
                <th scope="col">Location</th>
          
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
    
            <% allTasks.forEach(function(task, index){ %>
              
        <tr>

            <th scope="row"><%= index + 1 %></th>
            
            <% if( task.typeOfTrip  == "To Office" ) { %>
                <td> Drop at </td>
            <% } else { %>  
                <td> Pick Up at </td>
            <% } %>

            
            <% if( task.typeOfTrip  == "To Office" ) { %>
                <td><%= task.drop %></td>
            <% } else { %>  
                <td><%= task.pickup %></td>
            <% } %>
            <td><%= task.Status %></td>
            <td> <form id="driverTaskAcceptButton" action="/DriverTaskAccepted" method="post"> <input name="taskId" style="display:none ;" value= <%= task._id %> > <button class="btn btn-primary p-2"  type="submit"> Accept </button> </form> </td>
          </tr>
     <% }) %>
            </tbody>
          </table>
</div>
</center>
         



        <%- include("partials/footer") -%>
