<%- include("partials/header") -%>



<body data-sidebar="dark">

    <!-- <body data-layout="horizontal" data-topbar="colored"> -->


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Fleet Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link"  href="/empPrevTrips">My tasks </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " style="position:absolute ;right: 10px;" href="/logout">Sign-out</a>
                </li>
              </ul>
            </div>
          </nav>



    <div class="m-5" style="display: flex; justify-content: center;">
        <div class="card" style="width: 90%;">
        <div class="card-header"   style="height: 250px; width: 100%;   background-position: center; background-repeat: no-repeat; 
        background-size: cover ; background-image: url(https://img.freepik.com/free-vector/black-background-with-focus-spot-light_1017-27230.jpg?size=626&ext=jpg&uid=R87923467);">
          <center><h1 style="color: rgb(255, 255, 255) ; padding-top: 100px;"> Welcome Onboard, <span style="font-size:25px;"><%=empresult.name%></span>  </h1></center>
        </div> 
  
        <br>
        <div class="card-body" style="">



            

            <p>Employee ID: <span >  #<%= empresult.employeeID %> </span> </p>
            <br>
            <h4>Employee Details</h4>
            <br>
            <h6>
                Name: <span style="font-size:15px; font-weight: 500;" ><%=empresult.name%></span>
            </h6>
            <br>
            <h6>
                Mail-Id: <span><%=empresult.email %> </span>
            </h6>
            <br>
            <h6>
                Phone-no: <span><%=empresult.phoneno %></span>
            </h6>
<br>
            <h6>
                Address: <span><%=empresult.address%></span>
            </h6>
            

          </div>  
        </div>
           
          </div>
    </div>




        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right Sidebar -->
    <div class="right-bar">
        <div data-simplebar class="h-100">

            <div class="rightbar-title d-flex align-items-center px-3 py-4">

                <h5 class="m-0 me-2">Settings</h5>

                <a href="javascript:void(0);" class="right-bar-toggle ms-auto">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
            </div>

            <!-- Settings -->
            <hr class="mt-0" />





            <h6 class="text-center mb-0 mt-3">Choose Layouts</h6>

            <div class="p-4">
                <a href="">Sign Out</a>
            </div>

        </div>
        <!-- end slimscroll-menu-->
    </div>
    <!-- /Right-bar -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="assets/libs/jquery/jquery.min.js"></script>
    <script src="assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="assets/libs/simplebar/simplebar.min.js"></script>
    <script src="assets/libs/node-waves/waves.min.js"></script>
    <script src="assets/libs/jquery-sparkline/jquery.sparkline.min.js"></script>

    <!--Morris Chart-->
    <script src="assets/libs/morris.js/morris.min.js"></script>
    <script src="assets/libs/raphael/raphael.min.js"></script>

    <script src="assets/js/pages/dashboard.init.js"></script>

    <script src="assets/js/app.js"></script>

</body>

</html>